/*Set sane defaults*/
*,
#MSearchField,
.item,
#nav-tree,
#nav-tree-contents,
#nav-tree ul,
#selected,
#nav-tree .selected,
#nav-tree .selected a,
.ui-resizable-handle,
.ui-resizable-e,
#MSearchBox,
#MSearchBox .left,
#MSearchBox .right,
#MSearchSelectWindow,
#nav-path,
#nav-path ul,
.SelectItem,
a.SelectItem,
a.SelectItem:focus,
a.SelectItem:hover,
a.SelectItem:active
{
	font-family:Andika, sans-serif;
	box-sizing:border-box!important;
	color:black;
	background-color:initial;
	background-image:none;
	font-size:16px;
	text-shadow: none;
	border:0px solid;
	box-shadow:none;
}
td.memSeparator, tr.memSeparator{display:none}
body{margin:0px; padding:0px; height:100%; overflow:hidden}
#nav-path{display:none;margin:0px; padding:0px}
#nav-path ul{display:none;margin:0px; padding:0px}
td[style]{padding-left:0px!important}
table{border-collapse:collapse; width:calc(100% - 1em); margin-bottom:1ex}
p{margin:0px; padding:0px;}
div,#MSearchSelectWindow,#MSearchBox{background-color:white}
p:not(p:first-of-type){text-indent: 2em}

/* Font sizes */
#projectname{font-size:5ex;}
div.title{font-size:3ex; margin-bottom:1ex;margin-top:2ex}
h2{font-size:2.5ex; margin-bottom:1ex;margin-top:2ex}

/*Search box*/
#MSearchBox{border:1px solid; border-radius:4px;margin-right:1em}
#MSearchSelectWindow{border:1px solid; border-top:0px; border-radius:0px 0px 4px 4px}

/*title area*/
#titlearea{padding-right:1em}

/*Member table*/
table.memberdecls{border-bottom:3px double}
td.memItemLeft, td.memItemRight{padding-top: 1ex;border-top:1px solid}
td.mdescLeft, td.mdescRight{padding-bottom: 1ex}

/*Member documentation*/
.mlabel{font-weight:bold; padding-left:0.5em}
table.mlabels *, table.memname *{display:inline}
.memproto{margin-left: 3em}

/* Colors */
h1, h2, .title, #projectname {color: #649F85; }

a[href] { color: #CF8299; }
